<div class="customers-list-container">
    <mat-card class="customers-list-card" *ngFor="let customer of customers">
        <mat-card-header>
            <mat-card-title>{{customer.fullName}}</mat-card-title>
            <mat-card-subtitle>{{customer.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>{{customer.address.components.street}} {{customer.address.components.houseNumber}},
                {{customer.address.components.zip}}</div>
            <div>{{customer.address.components.city}}, {{customer.address.coordinates}}</div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['../edit', customer.id]">Edit</button>
        </mat-card-actions>
    </mat-card>
</div>